services:

  redis:
    image: redis:latest
    container_name: casse-redis
    ports:
      - "6666:6379"
    networks:
      - casse-network

  minio:
    image: minio/minio:latest
    container_name: casse-minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"  # S3 API
      - "9001:9001"  # MinIO Web UI
    volumes:
      - minio-data:/data
    networks:
      - casse-network

  minio-create-bucket:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set local http://minio:9000 admin password;
      /usr/bin/mc mb local/casse-audio;
      /usr/bin/mc policy set public local/casse-audio;
      exit 0;
      "
    networks:
      - casse-network

networks:
  casse-network:
    driver: bridge

volumes:
  minio-data:
    driver: local
