GOOGLE_OAUTH_CLIENT_ID=
JWT_SECRET=

# required for email approval
CASSE_EMAIL=
CASSE_EMAIL_PASSWORD=
CASSE_APPROVERS=
CASSE_BASE_URL=

CLOUDFARE_ACCESS_KEY=admin
CLOUDFARE_R2_ENDPOINT=http://localhost:9000
CLOUDFARE_SECRET_KEY=

SPRING_ELASTICSEARCH_URIS=http://localhost:9200
SPRING_DATA_REDIS_URL=redis://localhost:6666
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080