/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and page background */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Light blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Container for the form */
.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Heading */
h1 {
    color: #4CAF50; /* Green color for the title */
    margin-bottom: 20px;
}

/* Heading */
h2 {
    text-align: center;
    color: #4CAF50; /* Green color for the title */
    margin-bottom: 20px;
}

/* Spacer styling */
.spacer {
    margin-bottom: 20px;
}

/* Song list styling */
ul.song-list {
    list-style-type: none;
    padding: 0;
}

ul.song-list li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


/* Responsive Design: Ensure good display on smaller screens */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}