version: "3.8"

services:
  elasticsearch1:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.4
    container_name: elasticsearch1
    environment:
      - cluster.name=casse-es-cluster
      - node.name=es-node1
      - discovery.seed_hosts=elasticsearch1,elasticsearch2,elasticsearch3
      - cluster.initial_master_nodes=es-node1,es-node2,es-node3
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false # Disable security for simplicity in development
    volumes:
      - es_data1:/usr/share/elasticsearch/data
    ports:
      - "9200:9200" # Only expose one node to the host
    networks:
      - casse-network

  elasticsearch2:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.4
    container_name: elasticsearch2
    environment:
      - cluster.name=casse-es-cluster
      - node.name=es-node2
      - discovery.seed_hosts=elasticsearch1,elasticsearch2,elasticsearch3
      - cluster.initial_master_nodes=es-node1,es-node2,es-node3
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    volumes:
      - es_data2:/usr/share/elasticsearch/data
    networks:
      - casse-network

  elasticsearch3:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.4
    container_name: elasticsearch3
    environment:
      - cluster.name=casse-es-cluster
      - node.name=es-node3
      - discovery.seed_hosts=elasticsearch1,elasticsearch2,elasticsearch3
      - cluster.initial_master_nodes=es-node1,es_node2,es-node3
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - xpack.security.enabled=false
    volumes:
      - es_data3:/usr/share/elasticsearch/data
    networks:
      - casse-network

  kibana:
    image: docker.elastic.co/kibana/kibana:7.17.4
    container_name: kibana
    volumes:
      - ./kibana.yml:/usr/share/kibana/config/kibana.yml
    depends_on:
      - elasticsearch1
      - elasticsearch2
      - elasticsearch3
    ports:
      - "5601:5601"
    networks:
      - casse-network

  data-generator:
    build:
      context: ./dump-data
    container_name: data-generator
    depends_on:
      - elasticsearch1
    networks:
      - casse-network
    restart: "no"

volumes:
  es_data1:
  es_data2:
  es_data3:

networks:
  casse-network:
    driver: bridge
    name: casse-network
